@import '../../../styles/variables.scss';

.SelectLanguageWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  top:24px;
  right: 201px;
}

.SelectLanguageTitle {
  margin-right: 20px;
  color: $text-color;
}

.SelectLanguage {
  outline: none;
  width: 112px;
  height: 32px;
  padding-left: 16px;
  border: 1px solid $border-color;
  border-radius: 3px; 
}