// background
$background-color: #FFFFFF;
$background-login-button: #1DE278;
$background-error-color: #F24E33;
$background-modal-color: #ADB2B5;

// text colors
$text-color: #7E7E7E;
$text-color-dark: #727272;
$text-color-white: #FFFFFF;
// $text-color: #A5A1A1;
$text-color-progress: #848C93;

// fonts
$font-size-us: 10px;
$font-size-ss: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;

// door type modal
$color-door-modal: #6F91AA;

// border colors
$border-color: #909090;
$border-color-input: #C9C6C6;

//button
$button-background: #77779D;
$next-button-background:#6F91AA;

// progress circle

$progress-circle-background: #CDDBE5;
$progress-circle-background-active: #95A3AD;
$small-progress-circle-background: #6991B2;;
$small-progress-circle-bnackground-active: #ffffff;
