// background
$background-color: #FFFFFF;
$background-login-button: #1DE278;
$background-error-color: #F24E33;

// text colors
$text-color: #7E7E7E;
$text-color-dark: #727272;
$text-color-white: #FFFFFF;
$text-color: #A5A1A1;

// fonts
$font-size-ss: 14px;
$font-size-s: 16px;
$font-size-m: 18px;
$font-size-l: 24px;


// border colors
$border-color: #909090;
$border-color-input: #C9C6C6;

//button
$button-background: #77779D;




// $background-opacity-dark: rgba(255,255,255,0.8);
// $background-white: #fffefc;

// $background-dark: #334766;

// $line-separate-color: #37474f;
// $secondary-line-separate-color:#adb6c6;



// $text-color-black: #111111;
// $secondary-text-color: #acb4c1;

// $accent-color: #ab47bc;
// $accent-color: #8E71D1;
// $accent-text-color: #ffffff;


// $input-background: #f2f4f7;

// $active-account-color: #06cc66;
// $inactive-account-color :#ed3157;

// $accent-green-color: #06cc66;


// $ooo-dark : #443170;
// $ooo-medium: #8E71D1;
// $background-purple-light: #C4B2ED;
// $background-purple-ultra-light: #DED3F5;