@import '../../styles/variables.scss';

.SelectLanguageWrapper {
  display: flex;
  align-items: center;
  padding-right: 200px;
}

.SelectLanguageTitle {
  margin-right: 20px;
  color: $text-color;
}

.SelectLanguage {
  outline: none;
  width: 112px;
  height: 32px;
  padding-left: 16px;
  border: 1px solid $border-color;
  border-radius: 3px; 
}