.DoorWrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(46px, 1fr));
  max-width: 145px;
  border-top: 7px solid #444;
  border-left: 7px solid #444;
}

.DoorRow {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, minmax(46px, 1fr));
}

.DoorBox {
  border-bottom: 7px solid #444;
  border-right:  7px solid #444;
  background-color: #fff;
  padding: 28px 10px;
}